.rows{
	display: flex;
}
.info-box{
	border: solid 1px #cecece;
    border-radius: 4px;
    background: #ececec;
    padding: 10px;
	margin: 10px;
}
.info-box-number{
	font-size: 20px;
}
.info-box-text{
	font-size: 16px;
}
.coluna-grafico{
	display: flex;
}

.grafico1{
	border: solid 1px #cecece;
    border-radius: 4px;
    background: #fff;
    padding: 10px;
	margin: 10px;
	width: 33%;
}
.grafico2{
	border: solid 1px #cecece;
    border-radius: 4px;
    background: #fff;
    padding: 10px;
	margin: 10px;
	width: 33%;
}
.grafico3{
	border: solid 1px #cecece;
    border-radius: 4px;
    background: #fff;
    padding: 10px;
	margin: 10px;
	width: 33%;
}
.grafico4{
	border: solid 1px #cecece;
    border-radius: 4px;
    background: #fff;
    padding: 10px;
	margin: 10px;
	width: 33%;
}